<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecoco.ecoco">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecoco">
        <activity android:name="com.ecoco.ecoco.CharacterDetail_ochotonidae"></activity>
        <activity android:name="com.ecoco.ecoco.CharacterDetail_chipmunk"></activity>
        <activity android:name="com.ecoco.ecoco.CharacterDetail_marmotte"></activity>
        <activity android:name="com.ecoco.ecoco.CharacterDetail_cheetah"></activity>
        <activity android:name="com.ecoco.ecoco.CharacterDetail_odobenus"></activity>
        <activity android:name="com.ecoco.ecoco.CharacterDetail_panda"></activity>
        <activity android:name="com.ecoco.ecoco.CharacterDetail_polarbear"></activity>
        <activity android:name="com.ecoco.ecoco.CharacterDetail_tiger"></activity>
        <activity android:name="com.ecoco.ecoco.CharacterDetail_turtle"></activity>


        <activity android:name="com.ecoco.ecoco.developers" />
        <activity android:name=".UserData" />
        <activity
            android:name="com.ecoco.ecoco.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.ecoco.ecoco.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>